h1 Index
ul
  li
    a(href='/tasks/new') New

-if(typeof flash != 'undefined')
  - if(flash.error)
    div.alert-message.warning
      a(class="close", href="#")×
      p= flash.warning
  - if(flash.info)
    div.alert-message.success
      a(class="close", href="#")×
      p= flash.info

table
  tr
    th Task
    th 
    th 
    each task in docs
      tr
        td
          a(href="/tasks/#{task.id}") 
            #{task.task}
        td
          a(href="/tasks/#{task.id}/edit") Edit
        td
          form(method='post', action='/tasks/' + task.id)
            input(name='_method', value='DELETE', type='hidden')
            button(type='submit') Delete
